body {
  background: linear-gradient(#febb2e 20%, #010101 40%);
  background-color: #010101;
}

.in-shadow {
  box-shadow: inset 1px 1px 1px #1e1f20b4, inset -1px -1px 1px #dfd8d171;
}

.out-shadow {
  box-shadow: inset -1px -1px 1px #1e1f208e, inset 1px 1px 1px #dfd8d138;
}

.capsule {
  background-color: #080808;
  outline: 2px solid #000000;
  border: 3.5px solid #424242;
  border-radius: 100px;
}

.box .capsule.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.6em;
  padding: 0;
}

.box .capsule.item > *:nth-last-child(1) {
  padding-right: 1em;
  background-image: linear-gradient(#ffdc00, #ce7016);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  transform: scale(2.7);
  transform-origin: center 19px;
}

.box .capsule.item > *:nth-child(1) {
  line-height: 2.6em;
  border-radius: 100px;
  padding: 0 1.5em;
  outline: 3.5px solid #424242;
  color: #ffffff;
}
