body {
  width: 1200px !important;
  max-width: 1200px !important;
}

.in-shadow {
  box-shadow: inset 1px 1px 1px #1e1f20b4, inset -1px -1px 1px #dfd8d171;
}
.out-shadow {
  box-shadow: inset -1px -1px 1px #1e1f208e, inset 1px 1px 1px #dfd8d138;
}
.element-text-shadow {
  text-shadow: 1.5px 1.5px 1px black;
}

/* role */
.role {
  background-image: linear-gradient(#da9ce7, #831cc7);
}
.role.gold {
  background-image: linear-gradient(#ffdc00, #ce7016);
}

/* skills */
.skills ul {
  list-style: none;
  display: flex;
  column-gap: 1rem;
}
.skills li {
  display: flex;
  align-items: center;
  color: #b3b3b3;
  column-gap: 0.2rem;
  font-weight: 300;
}
.skills li img {
  width: 1.8rem;
  height: 1.8rem;
}

/* equipment */
.equip-5-star {
  background: linear-gradient(#7c5700 85%, #0f0f0f 85% 90%, #fdb300 90%);
}
.equip-4-star {
  background: linear-gradient(#5a0063 80%, #0f0f0f 80% 90%, #e501fb 90%);
}
.equip-3-star {
  background: linear-gradient(#004d77 85%, #0f0f0f 85% 90%, #00a7ff 90%);
}
