<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="./daily_note.css" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="title">
        <div class="id">
          <span class="id-head">ID</span>
          <span>{{ uid }}</span>
        </div>
        <div class="day">{{ day }}</div>
      </div>
      <div class="stamina">
        <div class="main">
          <img class="icon" src="items/电量.png" alt="" />
          <div class="info">
            <div class="name">电量</div>
          </div>
        </div>
        <div class="count">
          <span
            class="count-cur {% if current_resin/(max_resin or 1) > 0.9 %}red{% endif %}"
          >
            {{ current_resin }}
          </span>
          <span>/ {{ max_resin }}</span>
        </div>
        <div class="datail">
          {% if resin_recovery_time %} 将于 {{ resin_recovery_time }}
          全部恢复 {% else %} 电量已完全恢复 {% endif %}
        </div>
      </div>
      <div class="list">
        <div class="item">
          <img class="icon" src="./items/IconCoin.webp" alt="" />
          <div class="name">录像店经营</div>
          <div class="detail {% if exp_status == 'DONE' %}red{% endif %}">
            {% if exp_status == 'DONE' %} 已完成 {% else %} 正在营业 {% endif %}
          </div>
        </div>
        <div class="item">
          <img class="icon" src="./items/Inter-Knot-Credit.png" alt="" />
          <div class="name">每日活跃</div>
          <span
            class="detail {% if current_train_score != max_train_score %}red{% endif %}"
            >{{ current_train_score }}/{{ max_train_score }}</span
          >
        </div>
        <div class="item">
          <img class="icon" src="./items/Resonium-Details.png" alt="" />
          <div class="name">每日刮刮卡</div>
          <span class="detail {% if not card_sign_status %}red{% endif %}">
            {% if card_sign_status %} 已完成 {% else %} 未完成 {% endif %}
          </span>
        </div>
        {% if bounty_commission %}
        <div class="item">
          <img class="icon" src="./items/ChallengeShopCoin.webp" alt="" />
          <div class="name">悬赏委托</div>
          <span class="detail {% if bounty_commission.num != bounty_commission.total %}red{% endif %}">
            {{ bounty_commission.num }}/{{ bounty_commission.total }}
          </span>
        </div>
        {% endif %}
        {% if survey_points %}
        <div class="item">
          <img class="icon" src="./items/Investigation-Point.png" alt="" />
          <div class="name">调查点数</div>
          <span class="detail {% if survey_points.num != survey_points.total %}red{% endif %}">
            {{ survey_points.num }}/{{ survey_points.total }}
          </span>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
