<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>floor</title>
    <link type="text/css" href="./style.css" rel="stylesheet"/>
    <link type="text/css" href="../../styles/public.css" rel="stylesheet"/>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .floors, .floor {
            border-radius: unset;
            margin: 0;
        }

        .floor-num > div:last-child {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-content: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="floors">
        <div class="floor floor-abyss">
            <div class="head">
                <div class="floor-name">
                    <div class="floor-num"></div>
                    <div>
                        <div>UID: {{ uid }}</div>
                        <div>{{ title }}•{{ floor.zone_name }}</div>
                    </div>
                </div>
                <div class="star star{{ floor.rating }}"></div>
            </div>
            <div class="hr"></div>
            <div class="chamber">
                <div class="chamber-info">
                    <div>
                        <span style="color: white;">{{ floor_time }}</span>
                    </div>
                </div>
                <div class="battles">
                    {% for node in floor_nodes %}
                    <div class="battle">
                        {% for character in node.avatars %}
                            <div class="character">
                                <div class="element" style="background-image: url('../../img/attribute/{{ character.element_type }}.png')"></div>
                                <div class="icon"
                                     style="background-image: url('../../background/rarity/half/{{ character.rarity }}.png')">
                                    <img src="{{ character.icon }}" alt=""/>
                                </div>
                                <div class="caption">Lv.{{ character.level }}</div>
                            </div>
                        {% endfor %}
                        {% if node.buddy %}
                            {% set character = node.buddy %}
                            <div class="character">
                                <div class="icon"
                                     style="background-image: url('../../background/rarity/half/{{ character.rarity }}.png')">
                                    <img src="{{ character.icon }}" alt=""/>
                                </div>
                                <div class="caption">Lv.{{ character.level }}</div>
                            </div>
                        {% endif %}
                        {% if loop.length > 1 %}
                            <div class="battle-info">{{ ['上', '下'][loop.index - 1] }}半</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>