 <div class="floors">
        <div class="floor floor-abyss">
            <div class="head">
                <div class="floor-name">
                    <div class="floor_num"></div>
                    <div>
                        <div>UID: {{ uid }}</div>
                        <div>{{ title }}•{{ data.floor.zone_name }}</div>
                    </div>
                </div>
                <div class="star star{{ data.floor.rating }}"></div>
            </div>
            <div class="hr"></div>
            <div class="chamber">
                <div class="chamber-info">
                    <div>
                        <span style="color: white;">{{ data.floor_time }}</span>
                    </div>
                </div>
                <div class="battles">
                    {% for node in data.floor_nodes %}
                    <div class="battle">
                        {% for character in node.avatars %}
                            <div class="character">
                                {% if character.rank > 0 %}
                                    {% set constellation = character.rank %}
                                    {% set bg = ['blue', 'blue', 'green', 'green', 'red', 'red'][constellation - 1] %}
                                    <div style="background-color: var(--{{ bg }})">
                                        {{ constellation }} 命
                                    </div>
                                {% endif %}
                                <div class="element" style="background-image: url('../../img/attribute/{{ character.element_type }}.png')"></div>
                                <div class="icon"
                                     style="background-image: url('../../background/rarity/half/{{ character.rarity }}.png')">
                                    <img src="{{ data.character_icons[character.id] }}" alt=""/>
                                </div>
                                <div class="caption">Lv.{{ character.level }}</div>
                            </div>
                        {% endfor %}
                        {% if node.buddy %}
                            {% set character = node.buddy %}
                            <div class="character">
                                <div class="icon"
                                     style="background-image: url('../../background/rarity/half/{{ character.rarity }}.png')">
                                    <img src="{{ data.buddy_icons[character.id] }}" alt=""/>
                                </div>
                                <div class="caption">Lv.{{ character.level }}</div>
                            </div>
                        {% endif %}
                        {% if loop.length > 1 %}
                            <div class="battle-info">{{ ['上', '下'][loop.index - 1] }}半</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
 </div>